{% load humanize %}
{% if comments %}
{% for comment in comments %}
    <div class="row">
        <div class="col-sm-1">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div><!-- /thumbnail -->
        </div><!-- /col-sm-1 -->
        <div class="col-sm-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{ comment.user.username }}</strong> <span class="text-muted">commented {{ comment.updated|naturaltime }}</span>
                </div>
                <div class="panel-body">
                    {{ comment.content|linebreaks }}
                    {% if comment.user == current_user %}
                        <i style="float:right;" data-song-id="{{ object }}" data-comment-id="{{ comment.id }}" class="glyphicon glyphicon-trash cpointer deletecomment{{ comment.id }}"></i>
                        <i style="float:right;" data-song-id="{{ object }}" data-comment-id="{{ comment.id }}" class="glyphicon glyphicon-edit cpointer mg-r-5 editcomment{{ comment.id }}"></i>
                    {% endif %}
                </div><!-- /panel-body -->
                        
            </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->
    </div><!-- /row -->
    <script>
        $('.deletecomment{{ comment.id }}').click(function(){
            var song_id = $(this).data("song-id");
            var comment_id = $(this).data('comment-id');
            // alert('song:' + song_id + ', '+'comment '+comment_id);
            if (confirm('Are you sure you want to delete this?')) {                           
                $.ajax({
                    url: '/detail-song/'+ song_id +'/delete-comment/'+ comment_id,
                    success: function (data) {
                        $('.div-comment').html(data);
                    }
                });
            };
            
        });
    </script>             
{% endfor %}
{% else %}
No comment.
{% endif %}
