{% extends "homes/layout.html" %}
{% load static %}
{% load humanize %}
{% block title %}
    {{ object.name }} | {{ block.super }}
{% endblock title %}
{% block content %}
<div class="container asdadasdasd">
    <div class="row" style="background-color:#DDDDDD;border-radius: 20px;">
        <div class="col-md-4">
            <img src="/{{ object.photo }}"
            alt="" class="img-responsive-detail" />
        </div>
        <div class="col-md-8">
            <blockquote>
                <h2><span class="glyphicon glyphicon-music"></span> {{ object.name }}</h2>
                <p><strong>Singer:</strong> {{ object.singer }}</p>
                <p><strong>Category:</strong> {{ object.category }}</p>
                <p><strong>Description:</strong> {% if object.description %} {{ object.get_description }} {% else %} N/A {% endif %}</p>
                <br>
                <div>
                    <span><i class="glyphicon glyphicon-headphones" title="Listening"></i> {{ object.listening }}</span>
                    {% if liked %}
                        <span class="displaylike" style="margin-left:20px;">
                            <i onclick="dislikesongajax();" style="color:#337ab7" class="glyphicon glyphicon-thumbs-up" title="dislike"></i> <span class="count-like">{{ object.song_likes.count }}</span>
                        </span>                        
                    {% else %}
                        <span class="displaylike" style="margin-left:20px;">
                            <i onclick="likesongajax();" style="color:gray" class="glyphicon glyphicon-thumbs-up" title="like"></i> <span class="count-like">{{ object.song_likes.count }}</span>
                        </span>
                    {% endif %}
                    <span style="margin-left:20px;"><i class="glyphicon glyphicon-comment" title="Comments"></i> {{ comments.count }}</span>
                    <span style="margin-left:20px;"><i class="glyphicon glyphicon-file" title="Lyrics"></i> {{ lyrictotal.count }}</span>
                </div>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <script>      
            function likesongajax(){
                $.ajax({
                    url: '{% url "like-song" object.id %}',
                    success: function (data) {
                        var like_count = $.parseJSON(data['like_count']);
                        $('.displaylike').html("<i onclick='dislikesongajax();' style='color:#337ab7' class='glyphicon glyphicon-thumbs-up' title='dislike'></i> <span class='count-like'></span>");
                        $('.count-like').html(like_count)
                    }
                });
            };

            function dislikesongajax(){
                $.ajax({
                    url: '{% url "dislike-song" object.id %}',
                    success: function (data) {
                        var like_count = $.parseJSON(data['like_count']);
                        $('.displaylike').html("<i onclick='likesongajax();' style='color:gray' class='glyphicon glyphicon-thumbs-up' title='like'></i> <span class='count-like'></span>");
                        $('.count-like').html(like_count)
                    }
                });
            };
        
        </script>
        <audio src="/{{ object.urlsong }}" controls style="width:100%" id="controllsong" controlsList="nodownload" autoplay></audio>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <span class="buttonreqeat">
                <button class="btn" title="Repeat on" onclick="repeaton();">
                    <i class="glyphicon glyphicon-repeat"></i>                
                </button>
            </span>
            <span class="buttonplay">
                <button class="btn" title="Pause" onclick="pausesong();">
                    <i class="glyphicon glyphicon-pause"></i>                
                </button>
            </span>
            <button class="btn" title="Stop" onclick="stopsong();">
                <i class="glyphicon glyphicon-stop"></i>
            </button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">  
            <h2>Lyrics <span style="font-size:14px;color:#337ab7;cursor: pointer;" data-toggle="collapse" data-target="#demo">New lyric</span></h2>
            <div id="demo" class="collapse">                 
                <form id="formaddlyric" action="{% url 'create-lyric' object.id %}" method="POST">
                    {% csrf_token %}
                    <span id="clearlyric">
                        <textarea class="form-control contentlyric" id="content" name="content" placeholder="Content" rows="5" required></textarea>
                    </span>
                    <button class="btn pull-right" type="button" onclick="submitaddlyric();">Add</button>
                </form>                   
            </div>
            <span class="require-field-red" id="erraddlyric"></span>
            <span id="successaddlyric"></span>
            <script>
                function submitaddlyric(){
                    var frm = $('#formaddlyric');
                    var contentlyric = $('.contentlyric');
                    if (contentlyric.val() == ""){
                        alert("Content cannot be left blank when add new lyric!");
                    }else{
                        $.ajax({
                            type: frm.attr('method'),
                            url: frm.attr('action'),
                            data: frm.serialize(),
                            success: function (data) {
                                $('#clearlyric').html('<textarea class="form-control contentlyric" id="content" name="content" placeholder="Content" rows="5" required></textarea>');
                                $('#erraddlyric').html('');
                                $('#erraddcomment').html('');
                                $('#successaddcomment').html('');
                                $('#successaddlyric').html('<div class="alert alert-success messhome"><strong>Contribute lyric successfully!. Pls waiting admin approved.</strong></div></br>');                                                        
                            },
                            error: function() {
                                $('#successaddlyric').html('');
                                $('#erraddcomment').html('');
                                $('#successaddcomment').html('');
                                $('#erraddlyric').html('<div class="alert alert-danger messhome"><strong>Something Wrong! Pls try again!</strong></div></br>');
                            }
                        });
                    }            
                }
            </script>
        </div><!-- /col-sm-12 -->
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                {% if lyricfirst %}
                <li class="active"><a data-toggle="tab" href="#{{ lyricfirst.id }}">{{ lyricfirst.user.username }}</a></li>
                {% endif %}
                {% for lyric in lyrics %}
                <li><a data-toggle="tab" href="#{{ lyric.id }}">{{ lyric.user.username }}</a></li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% if lyricfirst %}
                    <div id="{{ lyricfirst.id }}" class="tab-pane fade in active ctrllyric lyric-close">
                        <p>{{ lyricfirst.content|linebreaks }}</p>
                    </div>
                {% endif %}
                {% if lyrics %}
                    {% for lyric in lyrics %}
                    <div id="{{ lyric.id }}" class="tab-pane ctrllyric lyric-close">
                        <p>{{ lyric.content|linebreaks }}</p>                       
                    </div>
                    {% endfor %}
                {% endif %}
                {% if lyricfirst or lyrics %}
                    <span id="btncontrollyric"><a href="#controllsong" onclick="showmorelyricfirst();">Show more <i class="glyphicon glyphicon-chevron-down"></i></a></span>
                {% else %}
                    No lyric.
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">  
            <h2>Comment <span style="font-size:14px;color:#337ab7;cursor: pointer;" data-toggle="collapse" data-target="#newcomment">New comment</span></h2>
            <div id="newcomment" class="collapse">                 
                <form id="formaddcomment" action="{% url 'create-comment' object.id %}" method="POST">
                    {% csrf_token %}
                    <span id="clearcomment">
                        <textarea class="form-control contentcomment" id="content" name="content" placeholder="Content" rows="5" required></textarea>
                    </span>
                    <button class="btn pull-right submitaddcomment" data-song-id="{{ object.id }}" type="button" onclick="submitaddcomment();">Add</button>
                </form>                                      
            </div>
            <span class="require-field-red" id="errmess"></span>
            <span id="successmess"></span>
            <script>
                function submitaddcomment(){
                    var frm = $('#formaddcomment');
                    var contentcomment = $('.contentcomment');
                    if (contentcomment.val() == ""){
                        alert("Content cannot be left blank when add new comment!");
                    }else{
                        $.ajax({
                            type: frm.attr('method'),
                            url: frm.attr('action'),
                            data: frm.serialize(),
                            success: function (data) {
                                $('#clearcomment').html('<textarea class="form-control contentcomment" id="content" name="content" placeholder="Content" rows="5" required></textarea>');
                                $('.div-comment').html(data.html);
                                $('#errmess').html("");
                                $('#successmess').html('<div class="alert alert-success messhome"><strong>You have successfully commented.</strong></div></br>');                                                        
                            },
                            error: function() {
                                $('#successmess').html("");
                                $('#errmess').html('<div class="alert alert-danger messhome"><strong>Content must be less than 250 characters.</strong></div></br>');
                            }
                        });
                    }            
                }
            </script>              
        </div><!-- /col-sm-12 -->
    </div>
    <div class="div-comment">
        {% if comments %}
            {% for comment in comments %}
                <div class="row">
                    <div class="col-sm-1">
                        <div class="thumbnail">
                            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                        </div><!-- /thumbnail -->
                    </div><!-- /col-sm-1 -->
                    <div class="col-sm-11">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{{ comment.user.username }}</strong> <span class="text-muted">commented {{ comment.updated|naturaltime }}</span>
                            </div>
                            <div class="panel-body">
                                {{ comment.content|linebreaks }}
                                {% if comment.user == request.user %}
                                    <i style="float:right;" data-song-id="{{ object.id }}" data-comment-id="{{ comment.id }}" class="glyphicon glyphicon-trash cpointer deletecomment{{ comment.id }}"></i>
                                    <i data-toggle="collapse" data-target="#editcomment{{ comment.id }}" style="float:right;" data-song-id="{{ object.id }}" data-comment-id="{{ comment.id }}" class="glyphicon glyphicon-edit cpointer mg-r-5"></i>
                                {% endif %}
                            </div><!-- /panel-body -->
                            <div id="editcomment{{ comment.id }}" class="collapse">
                                {% include 'songs/form_edit_comment.html' with comment=comment csrf_token=csrf_token %}
                            </div>                                                
                        </div><!-- /panel panel-default -->
                        
                    </div><!-- /col-sm-5 -->
                </div><!-- /row -->
                <script>
                    $('.deletecomment{{ comment.id }}').click(function(){
                        var song_id = $(this).data("song-id");
                        var comment_id = $(this).data('comment-id');
                        // alert('song:' + song_id + ', '+'comment '+comment_id);
                        if (confirm('Are you sure you want to delete this?')) {                           
                            $.ajax({
                                url: '/detail-song/'+ song_id +'/delete-comment/'+ comment_id,
                                success: function (data) {
                                    $('.div-comment').html(data);
                                    $('#erraddcomment').html("");
                                    $('#successaddcomment').html('<div class="alert alert-success messhome"><strong>You have successfully deleted comment.</strong></div></br>');
                                }
                            });
                        };
                        
                    });
                </script>                          
            {% endfor %}
        {% else %}
            No comment.
        {% endif %}
    </div>    
</div>
{% endblock content %}