<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Theme Made By www.w3schools.com - No Copyright -->
        <title>{% block title %}Django Music{% endblock title %}</title>
        {% load static %}
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="{% static 'bootstrap3/bootstrap.min.css' %}">
            <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
            <script src="{% static 'bootstrap3/bootstrap.min.js' %}"></script>
            <link rel="stylesheet" href="{% static 'stylesheets/css/home.css' %}">
            <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
        {% endblock head %}
    </head>
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
        {% include 'homes/sidebar.html' %}
        <!-- Container  --> 
            {% block content %}
            {% endblock content %}
        <!-- End container -->

        <!-- Image of location/map -->
        <img src="{% static 'images/map.jpg' %}" class="img-responsive" style="width:100%">
        <!-- Footer -->
        {% include 'homes/footer.html' %}
        <script src="{% static 'javascripts/js/home.js' %}"></script>
    </body>
</html>
