<nav style="background-color:black" class="navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Django Music</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">     
                <li><a href="{% url 'home' %}" {% if request.path == "/" %}style="color:white"{% endif %}>HOME</a></li>
                <li><a href="{% url 'list-singer' %}" {% if request.path == "/list-singer/" %}style="color:white"{% endif %}>SINGERS</a></li>
                <li><a href="{% url 'list-songs' %}" {% if request.path == "/list-songs/" %}style="color:white"{% endif %}>SONGS</a></li>
                <li><a href="{% url 'contactview' %}" {% if request.path == "/contact/" %}style="color:white"{% endif %}>CONTACT</a></li>
                <li><a href="{% url 'upload-song' %}" {% if request.path == "/upload-song/" %}style="color:white"{% endif %}>UPLOAD</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">SIGN OUT</a></li>
                    <li><a href="">HI! {{ user.username.upper }}</a></li>
                    {% if user.is_superuser %}
                        <li><a href="{% url 'dashboards:dashboard' %}">DASHBOARDS</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'login' %}">SIGN IN</a></li>
                {% endif %}
                <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade" id="loginn" role="dialog">
    <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-lock"></span> SIGN IN</h4>
        </div>
        <div class="modal-body">
        <form role="form">
            <div class="form-group">
            <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> Tickets, $23 per person</label>
            <input type="number" class="form-control" id="psw" placeholder="How many?">
            </div>
            <div class="form-group">
            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Send To</label>
            <input type="text" class="form-control" id="usrname" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-block">Pay 
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </form>
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
        <p>Need <a href="#">help?</a></p>
        </div>
    </div>
    </div>
</div>