{% extends "homes/layout.html" %}
{% load static %}
{% block title %}
    Singers | {{ block.super }}
{% endblock title %}
{% block content %}
    <div class="container text-center">
        <h3>LIST SINGER</h3>
        <p><em>We love music!</em></p>
        <p>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <br>
        <div class="row">
            {% for singer in listcontents %}            
                <div class="col-sm-4">
                    <p class="text-center"><strong>{{ singer.name }}</strong></p><br>
                    <a href="#{{ singer.id }}" data-toggle="collapse">
                        <img src="/{{ singer.photo }}" class="img-circle person" alt="Random Name" style="width:220px; height: 220px">
                    </a>
                    <div id="{{ singer.id }}" class="collapse">
                        {{ singer.description }}
                    </div>
                </div>
            {% endfor %}            
        </div>
    </div>
{% endblock content %}